
body {
    position: relative;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
}
#home{
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    height: auto;
    background-color: bisque;
    margin: 10px;
}

#about {
    width: 600px;
    height: 380px;
    margin: 10px;
    color: black;
    position: relative;
}

#about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/images/logo.jpeg");
    background-size: cover;
    filter: brightness(100%); /* Adjust brightness percentage as needed */
    opacity: 0.40;
    z-index: 0; /* Ensure the pseudo-element is behind the text */
}



#buy p {
    font-family: Arial, sans-serif; /* Set font family */
    font-size: 16px; /* Set font size */
    line-height: 1.5; /* Set line height */
    color:white; /* Set text color */
    margin-bottom: 20px; /* Add some space below the paragraph */
}
#buy {
    padding: 50px;
    width: 100%;
    height:auto;
    background-color: rgb(196, 229, 255);
    
    margin: 10px;
    padding-top: 50px;
    color:white;
}
.step {
    background-color: #34495e; /* Darker blue background color for steps */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.step h3 {
    color: white; /* Yellow text color for step number */
    margin-bottom: 20px;
}
.token-address {
    max-width: 200px; /* Adjust the width as needed */
    word-wrap: break-word;
}

.proof{
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: rgb(255, 227, 196);
    margin: 10px;
}


footer{
    padding: 50px;
}



body{
    background-color: aquamarine;
}
.token-address {
    max-width: 200px; /* Adjust the width as needed */
    word-wrap: break-word;
}

@media (min-width: 576px) {
    .home{
        width: 1420px;
        height: 880px;
    }

    .about{
        width: 1420px;
        height: 880px;
    }
    .token-address {
        max-width: 200px; /* Adjust the width as needed */
        word-wrap: break-word;
    }
    

    .img-smaller {
        max-width: 100px; /* Adjust this value as needed */
    }

    .align-horizontal {
        text-align: center; /* Center align on mobile */
    }
}


@media (max-width: 350px){

        
    
   
.align-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}